@{
    ViewBag.Title = "Contact";
}

@model FirstProject.Controllers.HomeController.BlogPost

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <p>@Html.Raw(ViewBag.Message)</p>
</hgroup>

<div>
    <div class="text">@Model.text</div>
    @Model.id
    @Model.userid
    @Model.date
</div>